html{height: 100%;}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.background{
    background: url("../imagenes/fondo.jpg") center top;
    background-size: cover;
}
.background2{background: #323F51;}
.background2 .logotipo{width: 60px;}
.portada{   
    height: 500px;
    display: flex;
    flex-direction: column;    
}
.logotipo{
    margin-left: 0;
    width: 100px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.contenedor{
    max-width: 800px;
    margin: auto;
}
.contenedor-blog{
    max-width: 1000px;
    margin: auto;
}
.menu li{
    display: inline-block;
    margin-left: 25px;
}
.menu li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.textoPrincipal{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.textoPrincipal a{
    text-decoration: none;
    color: white;
    background-color: #EE434C;
    padding: 8px;
    border-radius: 15px;
}
.titulo{   
    font-size: 65px;
    text-shadow: 0 0 10px black;
    margin: 0;
}
.titulo-a{
    font-size: 24px;
    text-shadow: 0 0 10px black;
}
.transportes{
    color: #323F51;
    width: 100%;
}
.transportes h2{
    font-size: 35px;
}
.transporte{
    border: 2px solid #323F51;
    border-radius: 25px;
    padding: 0 30px;
    margin: 25px 0;
    height: 215px;
    position: relative;
    display: flex;
    align-items: center;
}
.transporte-b img{
    float: left;
    left: 0;
}
.contenedor-trasporte-b{
    position: absolute;
    right: 60px;
}
.transporte img{
    width: 400px;
    float: right;
    position: absolute;
    top: -5px;
    right: 0;
}
.footer{
    background: #323F51;
    padding: 15px;
}
.footer .contenedor{
    display: flex;
    justify-content: space-between;
}
.footer .sector{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    color: white;
}
.footer .sector > img{width: 150px;}
.footer .sector a{
    text-decoration: none;
    color: white;
}
.footer .sector ul{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.footer .sector li{list-style: none;}
.footer .sector li a img{ width: 25px;}
table, td, th{
    border: 1px solid #323F51;
    border-collapse: collapse;
}
td{padding: 10px;}
th{
    background: #323F51;
    padding: 10px;
    color: white;
    text-align: left;
}
.tabla{
    padding: 60px 0;
    flex: 1;
}
.nota-principal img{width: 100%;}
.nota-principal{position: relative;}
.info-primera{
    position: absolute;
    bottom: 40px;
    margin-left: 40px;
    color: white;
    background: rgba(200,200,200,0.8);
    padding: 15px;
}
.info-titulo{border-bottom: 1px solid gray;}
.info-cuerpo{
    display: flex;
    justify-content: space-between;
}
.buscador .contenedor-blog{text-align: right;}
.buscador input{
    background: white;
    color: #323F51;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.buscador button{
    background: #323F51;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.nota{
    position: relative;
    width: 300px;
    margin: 10px 0;
}
.nota img{
    width: 100%;
}
.info .info-cuerpo{
    font-size: 14px;
}
.notas{
    margin: 25px 0;
}
.notas .contenedor-blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}